# Archivos de compilación de Python
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/*.pdb
**/__init__.py
**/__init__.pyc

# Archivos de entorno virtual
**/venv/
**/env/
**/ENV/
**/.venv/
**/.virtualenv/

# Archivos de configuración de Visual Studio Code
**/.vscode/
**/.env

